<% layout('layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Edit Listing</h2>
            <form method="post" action="/listings/<%= listing.id %>?_method=put" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="<%=listing.title%>" name="listing[title]" id="title" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good Title!
                    </div>
                    <div class="invalid-feedback">
                        Please provide Title Name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" cols="50" rows="5" class="form-control"
                        id="description" required><%=listing.description %></textarea>
                    <div class="invalid-feedback">
                        Enter a short description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" value="<%=listing.image %>" class="form-control" id="image"
                        required>
                    <div class="invalid-feedback">
                        Enter a valid Link.
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="number" class="form-label">Price</label>
                        <input name="listing[price]" value="<%=listing.price %>" class="form-control" id="image"
                            required>
                        <div class="invalid-feedback">
                            Please provide a valid Price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country %>" class="form-control"
                            id="country" required>
                        <div class="invalid-feedback">
                            Country name should be valid.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location %>" class="form-control"
                        id="location" required>
                    <div class="invalid-feedback">
                        Location name should be valid.
                    </div>
                </div>
                <button class="btn btn-dark bg-danger">Edit-Save</button>
                <br><br>
            </form>
        </div>
    </div>