<% layout('layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h2>Listing Details </h2>
        </div>
        <div class="card col-6 offset-3">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <h5 class="card-title">
                    <%=listing.title %>
                </h5>
                <p>
                    <%=listing.description %>
                </p>
                <p>
                    &#8377; <%=listing.price.toLocaleString('en-IN') %>
                </p>
                <p>
                    <%=listing.location %>
                </p>
                <p>
                    <%=listing.country %>
                </p>
            </div>
        </div>
        <div class="btns col-6 offset-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary col-4 bg-danger">Edit-Listing</a>
            <form action="/listings/<%= listing._id %>?_method=delete" method="post">
                <button class=" del-btn btn btn-primary ">Delete-Listing</button>
            </form>
        </div>
    </div>