<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <button>
        <a href="http://localhost:8080/user/new">Add-New-User</a>
    </button>
    <table>
        <tr>
            <th>ID</th>
            <th>EMAIL</th>
            <th colspan="3">NAME</th>
        </tr>
        <% for(let user of users){ %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <form method="GET" action="/user/<%= user.id %>/edit">
                        <button>Edit-Name</button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="/user/<%= user.id %>/delete">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% }%>
    </table>
</body>

</html>