<%- include("includes/head.ejs") %>

    <body>
        <h1>
            This page belongs to @<%=data.name %>
        </h1>
        <button>Follow</button>
        <button>Message</button>
        <h3>Account that follow you : </h3>
        <p>
            Followers : <%= data.followers %> &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Following : <%= data.following %>
        </p>
        <hr>
        <% for (const post of data.posts) { %>
            <img src="<%= post.image %>" alt="<%= userName %>">
            <p>
                Likes : <%= post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Comments : <%= post.comments %>
            </p>
            <% } %>
                <%- include("includes/footer.ejs") %>
    </body>
    <script src="/js/app.js"></script>